.footer {
    background-color: var(--background);
    padding: 5rem 1rem;
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
}

.footer .container {
    display: grid;
    grid-template-columns: minmax(150px, 1fr) repeat(4, 1fr);
    gap: 2rem;
    align-items: start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.logo-footer {
    grid-column: 1 / 2;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.logo-footer h1 {
    font-size: 2rem;
    line-height: 1;
}

.footer .col {
    display: flex;
    flex-direction: column;
}

.footer .col h5 {
    margin-top: 0; /* remove extra top margin */
    margin-bottom: 1rem;
}

.footer .bar {
    width: 30px;
    border-bottom: 4px solid var(--primary);
    margin-bottom: 1rem;
}

.footer a {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.footer .icon {
    color: #303030;
    margin-right: 4px;
}

@media screen and (max-width: 940px) {
    .footer .container {
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }

    .logo-footer {
        .highlight {
            font-family: "Coffee Spark", sans-serif;
            color: var(--primary);
        }

        font-family: "Sawer", sans-serif;
        font-size: 1.8rem;
        font-weight: normal;
        letter-spacing: 0.05em;
        /*color: #fff;*/
        line-height: 1;
        grid-column: 1 / -1;
        justify-content: center;
        margin-bottom: 2rem;
    }
}
