.header{
  width: 100%;
  height: 90px;
  border-bottom: 1px solid #eee;
  background: #fff;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
}

.header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 1rem;
}

.colors{
  color: var(--primary);
}

.nav-menu{
  display: flex;
}

.nav-menu li{
  padding: 0 1rem;
}

.nav-menu a{
  font-size: 1rem;
  font-weight: 600;
  color: #333;
}

.nav-menu a:hover{
  color: #5d8fff;
  transition: 0.3s sease-in-out;
}

.hamburger{
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 1240px){ //anything under 1240
  .hamburger{
    display: flex;
  }

  .nav-menu{
    position: absolute;
    flex-direction: column;
    justify-content: start;
    top: 78px;
    right: -100%;
    width: 50%;
    height: 100vh;
    transition: 0.4s;
    z-index:4;
    background: #fff;
    border-left: 1px solid #eee;

  }

  .nav-menu.active{ //push to left hamburger
    right: 0;
    transition: 0.5s;
    display: flex;
  }

  .nav-menu li{
    padding: 1rem;
    width: 100%;
    border-bottom: 1px solid #eee;
  }

  .nav-menu a{
    font-size: 1.2rem;
  }
}